RPC_URL=https://mainnet.helius-rpc.com/?api-key=replace-me
MANAGER_SECRET_PATH=../keys/manager.json
VOLTR_VAULT_ADDRESS=replace-me
ASSET_MINT_ADDRESS=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
REBALANCE_LOOP_INTERVAL_MS=14400000
JUPITER_SWAP_SLIPPAGE_BPS=50
ENABLE_REBALANCE_LOOP=true
